@charset "utf-8";
body {
    background-image: -webkit-linear-gradient(315deg,rgba(130,169,255,1.00) 0%,rgba(182,116,255,1.00) 100%);
    background-image: -moz-linear-gradient(315deg,rgba(130,169,255,1.00) 0%,rgba(182,116,255,1.00) 100%);
    background-image: -o-linear-gradient(315deg,rgba(130,169,255,1.00) 0%,rgba(182,116,255,1.00) 100%);
    background-image: linear-gradient(135deg,rgba(130,169,255,1.00) 0%,rgba(182,116,255,1.00) 100%);
    font-size: 18px;
}
#wrapper {
    background-color: #A9FFA3;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 1500px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
#wrapper #headder {
    height: 9%;
    padding-top: 15px;
    border: 1px solid #D4ADFF;
    border-radius: 30px 15px;
    -webkit-box-shadow: 5px 5px 28px -1px #000000;
    box-shadow: 5px 5px 28px -1px #000000;
    background-color: #A9C9FF;

}
#wrapper #headder #logo {
    float: left;
    padding-right: 22%;
}
#wrapper #menu {
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #E3C9FF;
    -webkit-box-shadow: 4px 4px 15px -3px #000000;
    box-shadow: 4px 4px 15px -3px #000000;
    background-color: #FFDD77;
    padding-left: 5px;
}
#wrapper #footer .icon {
    width: 70px;
    height: 70px;
    border: 1px solid #000000;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: #E7E7E7;
    float: right;
}
#wrapper #footer {


}


#wrapper #menu a {
    text-decoration: none;
    color: #000000;
    background-color: #58F0FF;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-style: solid;
    border-width: 2px;
    border-color: #EAEAEA #EAEAEA #A5A5A5 #A5A5A5;
}
#wrapper #menu a:hover{
    background-color: #23686F;
    color: #FFFFFF;
	
}
#wrapper #main img {
    float: left;
    padding-top: 16px;
    padding-right: 10px;
    padding-left: 0px;
    padding-bottom: 10px;
}
