@charset "utf-8";
body {
    background-image: -webkit-linear-gradient(315deg,rgba(171,95,255,1.00) 0%,rgba(87,149,255,1.00) 100%);
    background-image: -moz-linear-gradient(315deg,rgba(171,95,255,1.00) 0%,rgba(87,149,255,1.00) 100%);
    background-image: -o-linear-gradient(315deg,rgba(171,95,255,1.00) 0%,rgba(87,149,255,1.00) 100%);
    background-image: linear-gradient(135deg,rgba(171,95,255,1.00) 0.00%,rgba(87,149,255,1.00) 100%);
    font-size: 18px;
}
#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 1500px;
    background-color: #F2D392;
    padding-left: 10px;
    padding-right: 10px;
}
#wrapper #headder {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
#wrapper #main hr {
    border: 1px solid #000000;
}
